<style>
        .demo-card-square.mdl-card {
          width: 300px;
          height: 450px;
        }
        .demo-card-square > .mdl-card__title {
          color: #fff;
          background:
            url('/brand') bottom right 15% no-repeat rgb(255, 255, 255);
            background-size: 50px;
        }
        </style>
        
        <div class="mdc-card">
            <div class="mdc-card__media mdc-card__media--square">
              <div class="mdc-card__media-content">Title</div>
            </div>
            <!-- ... content ... -->
            <div class="mdc-card__actions">
              <div class="mdc-card__action-buttons">
                <button class="mdc-button mdc-card__action mdc-card__action--button">Action 1</button>
               
              </div>
            
            </div>
          </div>
        