<div class="mdl-card">
        <div class="mdl-card__title">
        
        </div>
        <div class="mdl-card__media">
        ...
        </div>
        <div class="mdl-card__supporting-text">
        ...
        </div>
        <div class="mdl-card__actions">
        ...
        </div>
      </div>