<div class="dropdown-divider" style=" margin-top:50px;margin-left:50px; margin-right:50px"></div>
<div class="container" style="margin-bottom:10px">
          <div class="row">
                  <div class="col">
                          <div class="d-flex justify-content-start">
                                  <div class="panel-footer">
                                          <span class="display-4" style="font-size:14px"> @onlyForBasicReport</span>
                                  </div>
                          </div>
                  </div>
                  <div class="col">
                          <div class="d-flex justify-content-end">
                                  <div class="panel-footer">
                                          <span class="display-4" style="font-size:14px"> @onlyForBasicReport</span>
                                  </div>
                          </div>
                  </div>
          </div>
  </div>