
<!DOCTYPE html>
<html lang="en">
<head>
<style>
  nav ul li { 
  list-style:none;
  margin:10px;
  float: right; 
}
.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.32), rgba(0,0,0,.32)), url("/thucPham_img/tinhDinhDuong");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;    text-align: bottom;
    padding-top: 12rem;
}
</style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trophic - Tra cứu dinh dưỡng</title>
  
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light  navbar-static-top" role="navigation">
        <div class="container-fluid">
          <ul class="nav-left">
              <nav class="navbar navbar-light">
                  <a class="navbar-brand" href="/home">
                    <img src="/brand" width="30px" height="30px" class="d-inline-block align-top" alt="" >
                    <b>TROPHIC</b>
                  </a>
                </nav>
          </ul>
          <ul class="nav-right">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/home"><b>TRANG CHỦ</b><span class="sr-only">(current)</span></a>
                    </li>
                
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="/thucPham" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        THỰC PHẨM
                      </a>
                      <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/thucPham/chatBeo">Chất béo</a>
                        <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                        <a class="dropdown-item" href="/thucPham/chatDam">Chất đạm</a>
                        <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                        <a class="dropdown-item" href="/thucPham/chatBotDuong">Chất bột đường</a>
                        <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                        <a class="dropdown-item" href="/thucPham/vitaminKC">Vitamin & Khoáng chất</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/dinhDuong" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         DINH DƯỠNG
                        </a>
                        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/dinhDuong/vitamin">Vitamin</a>
                          <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                          <a class="dropdown-item" href="/dinhDuong/khoangChat">Khoáng chất</a>
                          <div class="dropdown-divider" style="margin-left:20px; margin-right:20px"></div>
                          <a class="dropdown-item" href="/dinhDuong/cck">Các chất khác</a>
                          
                          </div>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="/thongTinThem">THÔNG TIN THÊM<span class="sr-only">(current)</span></a>
                          </li>
                  </ul>
                 
                </div>
          </ul>
          
          </div>
        
    </nav>
    <div class="bg-overlay">
        
        <div class="container align-self-end" style="padding-bottom:5px">
                
                    <h1>Quy tắc dinh dưỡng</h1>
                    <h4 class="font-weight-light ml-5">Không một thực phẩm nào có thể cung cấp đầy đủ chất dinh dưỡng cho cơ thể, vì vậy chúng ta cần phối hợp ăn nhiều loại thực phẩm.</h4>
                    <h4 class="font-weight-light ml-5"> Đảm bảo đủ <b>20-30</b> loại thực phẩm khác nhau thì mới đảm bảo đủ chất. </h4>

            </div>
        </div>
    
    <div class="container" style="margin-bottom:80px">
        <h1 style=" margin-top:60px"><b>Tính dinh dưỡng</b></h1>
        
        <div class="row">
              
        <div class="col" style="margin-left:30px; margin-top:40px">
                <div class="mdl-card mdl-shadow--8dp" style="width:100%">
                        <div class="card-block" style="padding:20px">
                                <h5 class="font-weight-light"><b>Danh sách thực phẩm</b></h5>
                                <ul>
                                    
                                </ul>
                                <form action="/" method="POST" role="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="thucPhamName" placeholder="Nhập tên thực phẩm">
                                    </div>
                                    <input type="submit" class="btn btn-outline-success" value="THÊM VÀO DANH SÁCH"></input>
                                </form>
                                <div>
                                    <h5 class="font-weight-light"><b>Gợi ý</b></h5>
                                </div>
                        </div>
                      </div>
              
                
            </div>
            
            <div class="col">
                    <div class="col" style="margin-left:60px; margin-top:50px">
                            <div class="mdl-card mdl-shadow--8dp" style="width:100%">
                                    <div class="card-block" style="padding:20px">
                    <h5 class="font-weight-light"><b>Bảng kết quả dinh dưỡng</b></h5>
                                    </div>
                            </div>
                    </div>
                
            </div>
        </div>
      
        
        
    </div>
    

    </body>
</html>